<footer class="section-sm bg-tertiary my-4 py-4">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-3 col-sm-6 mb-2">
				<div class="footer-widget">
					<h5 class="mb-4 text-primary font-secondary">Medical Services</h5>
					<ul class="list-unstyled">
						<li class="mb-2"><a href="/street-medicine">Street Medicine</a></li>
						<li class="mb-2">Hire Me As An EMT Coming Soon</li>
						<!--<li class="mb-2"><a href="/emergency-medical-services">Hire Me as an EMT</a>
						</li>-->
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mb-2">
				<div class="footer-widget">
					<h5 class="mb-4 text-primary font-secondary">Teaching Services</h5>
					<ul class="footer-menu">
						<li class="mb-2"><a href="/learning">All Classes</a></li>
						<ul>
							<li class="mb-2"><a href="/learning/cpr">CPR Classes</a></li>
							<li class="mb-2"><a href="/learning/first-aid">First Aid Classes</a></li>
							<li class="mb-2"><a href="/learning/wilderness-medicine">Wilderness Medicine Classes</a></li>
						</ul>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mb-2">
				<div class="footer-widget">
					<h5 class="mb-4 text-primary font-secondary">Info</h5>
					<ul class="footer-menu">
						<li class="mb-2"><a href="/about">About Me</a></li>
						<li class="mb-2"><a href="/contact">Contact Me</a></li>
						<li class="mb-2"><a href="/#Frequently-Asked-Questions">FAQs</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-5 col-sm-hide center">
				<div>
					<img decoding="async" class="img-logo" src="/images/icon/weefree-logo-500-noir.png" alt="Wee Free Medic Logo B&W" />
				</div>
			</div>
		</div>
		<div class="row align-items-center mt-5 text-center text-md-start">
			<div class="col-lg-3 col-md-2">
        <a href="/">
          <img loading="preload" decoding="async" class="img-fluid" width="160" src="/images/logo.png" alt="Wee Free Medic Logo">
        </a>
			</div>
			<div class="col-lg-6 col-md-6 mt-4 mt-lg-0 flat-center">
				<ul class="footer-menu list-inline mb-0 text-lg-center">
					<li class="list-inline-item me-4">
						<a class="text-black" href="/privacy-policy">Privacy Policy</a>
					</li>
					<li class="list-inline-item me-4">
						<a class="text-black" href="/legal">Legal</a>
					</li>
					<li class="list-inline-item me-4">
						Copyright &copy; 2021—{{ now.Format "2006" }}.
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-2 text-md-end mt-4 mt-md-0">
				<ul class="list-unstyled list-inline mb-0 social-icons">
					<!-- <li class="list-inline-item me-3"><a title="Explorer Facebook Profile" class="text-black" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
					</li> -->
					<li class="list-inline-item me-3">
						<a title="Explorer Twitter Profile" class="text-black" href="https://twitter.com/WeeFreeMedic"><i class="fab fa-twitter"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
