<header class="navigation bg-tertiary">
	<nav class="navbar navbar-expand-xl navbar-light text-center py-3">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img loading="preload" decoding="async" class="img-fluid" width="160" src="/images/logo.png" alt="Wee Free Medic Logo">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
					<li class="nav-item"> <a class="nav-link" href="/">Home</a></li>
					<li class="nav-item "> <a class="nav-link" href="/street-medicine">Street Medicine</a>
					<li class="nav-item "> <a class="nav-link nav-donate" href="/donate">Donate!</a>
					<!-- <li class="nav-item "> <a class="nav-link" href="/emergency-medical-services">Hire</a> -->
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="/learning" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Learning</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item " href="/learning/cpr">Learn CPR or BLS</a></li>
							<li><a class="dropdown-item " href="/learning/wilderness-medicine">Learn Wilderness Medicine</a></li>
							<li><a class="dropdown-item " href="/learning/first-aid">Learn Basic First Aid</a></li>
						</ul>
					</li>
					<li class="nav-item "> <a class="nav-link" href="/contact">Contact</a></li>
				</ul>
				<a href="https://patient.weefreemedic.org" class="btn btn-outline-primary">Patient Portal</a>
				<a href="https://class.weefreemedic.org" class="btn btn-primary ms-2 ms-lg-3">Student Portal</a>
			</div>
		</div>
	</nav>
</header>
