{{ $img := "redwood-forest.jpg" }}
{{ with .Params.headerImage }}
  {{ $img =  . }}
{{ end }}
{{ $img = (path.Join "/images/headers/" $img) }}
<section class="page-header bg-cover" style="background-image: url({{ safeURL $img }})">
	<div class="container">
		<div class="row" style="background: RGBA(250, 250, 250, 0.50) !important;">
			<div class="col-8 mx-auto text-center">
                <h1 class="mb-3 text-capitalize">{{ .Title }}</h1>
                {{ partial "bread.html" . }}
			</div>
		</div>
	</div>
</section>
