{{ define "main" }}
<section class="banner bg-tertiary position-relative overflow-hidden">
  <div id="banner" class="row align-items-center">
    <img alt="Doctor with a patient in the clinic and on the street" src="/images/headers/double-banner-clinic.png" />
  </div>
  <div class="row align-items-center">
    <p class="text-title fw-bold">The Wee Free Medic</p>
    <p class="text-subtitle mb-3">Providing free street medical services and the best CPR and wilderness medicine training.</p>
  </div>
</section>
<section class="content">
  <div class="content">
    404. Page not found.
    <a href="/">Go Home.</a>
  </div>
</section>
{{ end }}
