{{ define "main" }}
<section class="banner bg-tertiary position-relative overflow-hidden">
  <div id="banner" class="row align-items-center">
    <img alt="Doctor with a patient in the clinic and on the street" src="/images/headers/Wee-Free-Medic-Banner.jpg" />
  </div>
  <div class="row align-items-center">
    <p class="text-title fw-bold">The Wee Free Medic</p>
    <p class="text-subtitle mb-3">Providing free street medical services and the best CPR and wilderness medicine training.</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="section-title my-4">
          <h2 class="text-primary">Our services</h2>
          <p>Classes and EMT-level medical services are available online and in-person.</p>
          <p>If you cannot find what you need here, feel free to <a href="/contact">contact me</a>.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <a class="text-black" href="/street-medicine">
          <div class="block"> <span class="colored-box text-center h3 mb-4">01</span>
            <h3 class="mb-3 service-title">Street Medicine</h3>
            <p class="mb-0 service-description">Support my work helping those with housing insecurity.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <a class="text-black" href="/learning/cpr">
          <div class="block"> <span class="colored-box text-center h3 mb-4">02</span>
            <h3 class="mb-3 service-title">CPR Instruction</h3>
            <p class="mb-0 service-description">I am an AHA certified CPR and basic
              life support instructor. Schedule a class now!</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <a class="text-black" href="/learning/first-aid">
          <div class="block"> <span class="colored-box text-center h3 mb-4">03</span>
            <h3 class="mb-3 service-title">First Aid Training</h3>
            <p class="mb-0 service-description">Learn how to care for yourself and your family
              in case of an emergency or natural disaster.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <a class="text-black" href="/learning/wilderness-medicine">
          <div class="block"> <span class="colored-box text-center h3 mb-4">04</span>
            <h3 class="mb-3 service-title">Custom Wilderness Medicine Classes</h3>
            <p class="mb-0 service-description">I have been teaching wilderness medicine for
              over a decade.<br>Planning a trip? Learn just what you need to know in as much
              detail as you desire.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <a class="text-black" href="/contact">
          <div class="block"> <span class="colored-box text-center h3 mb-4">05</span>
            <h3 class="mb-3 service-title">Volunteer EMT Services</h3>
            <p class="mb-0 service-description">I am a certified emergency medical technician
              with my own malpractice insurance. Schedule me to provide medical services
              for your event.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="about-section section bg-tertiary position-relative overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="section-title">
        <p class="text-primary text-uppercase fw-bold mb-3">About Me</p>
        <h1>Experienced medical professional and teacher.</h1>
      </div>
      <div class="col-lg-6 mb-0 mt-4">
        <p class="lead">
          I have been a wilderness medicine certified provider since 2012 and
          an emergency medical technician (EMT) since 2014. Since that time
          I have worked throughout the bay area and as a wilderness-EMT with
          the <a href="https://www.bamru.org">Bay Area Mountain Rescue Unit
          (BAMRU)</a>. I am now a <a href="https://profiles.stanford.edu/michael-dacre">
          medical student at Stanford University</a> graduating in 2023. I
          am planning on going into Family Medicine when I graduate.
        </p>
        <p class="lead">
          I have been teaching wilderness medicine since 2014 and CPR as an
          AHA-certified instructor since 2018. Teaching is a passion of mine
          and I love to do it. My classes are dynamic and energetic and I pride
          myself on matching the level of the content to the level of the
          learner.
        </p>
        <p class="lead">
          I started practicing street medicine independently in 2022 because
          I felt my medical skill had reached the level necessary for this
          work and because the pandemic has ballooned the number of unhoused
          people. Furthermore, I am very aware of the devastating effects of
          super-strong fentanyl and tainted methamphatamine in our community,
          particularly affecting those most abandoned by society.
        </p>
        <a class="btn btn-primary mt-4" href="/about">About Me</a> &nbsp;
        <a class="btn btn-primary mt-4" href="https://www.michaeldacre.com" target="_blank">My Home Page</a>
      </div>
      <div class="col-lg-5 text-center text-lg-end">
        <img id="homeHeadshot" loading="lazy" decoding="async" src="/images/Mike-Dacre-Headshot.png" alt="Mike Dacre headshot" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="has-shapes">
    <svg class="shape shape-left text-light" width="381" height="443" viewBox="0 0 381 443" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M334.266 499.007C330.108 469.108 304.151 446.496 276.261 435.921C248.372 425.346 218.077 424.035 188.666 419.32C159.254 414.589 128.795 405.375 108.664 383.129C72.8533 343.535 83.3445 282.01 77.7634 228.587C69.3017 147.754 15.4873 73.3967 -58.0001 40.9907" stroke="currentColor" stroke-miterlimit="10" />
      <path d="M349.584 485.51C345.427 455.611 319.469 433 291.58 422.425C263.69 411.85 233.395 410.538 203.984 405.823C174.573 401.092 144.114 391.878 123.982 369.632C88.1716 330.038 98.6628 268.513 93.0817 215.09C84.62 134.258 30.8056 59.8999 -42.6819 27.494" stroke="currentColor" stroke-miterlimit="10" />
      <path d="M364.904 472.013C360.747 442.114 334.789 419.503 306.9 408.928C279.011 398.352 248.716 397.041 219.304 392.326C189.893 387.595 159.434 378.381 139.303 356.135C103.492 316.541 113.983 255.016 108.402 201.593C99.9403 120.76 46.1259 46.4028 -27.3616 13.9969" stroke="currentColor" stroke-miterlimit="10" />
      <path d="M380.24 458.516C376.083 428.617 350.125 406.006 322.236 395.431C294.347 384.856 264.051 383.544 234.64 378.829C205.229 374.098 174.77 364.884 154.639 342.638C118.828 303.044 129.319 241.519 123.738 188.096C115.276 107.264 61.4619 32.906 -12.0255 0.500103" stroke="currentColor" stroke-miterlimit="10" />
    </svg>
    <svg class="shape shape-right text-light" width="406" height="433" viewBox="0 0 406 433" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M101.974 -86.77C128.962 -74.8992 143.467 -43.2447 146.175 -12.7857C148.883 17.6734 142.273 48.1263 139.087 78.5816C135.916 109.041 136.681 141.702 152.351 167.47C180.247 213.314 240.712 218.81 289.413 238.184C363.095 267.516 418.962 340.253 430.36 421.687" stroke="currentColor" stroke-miterlimit="10" />
      <path d="M118.607 -98.5031C145.596 -86.6323 160.101 -54.9778 162.809 -24.5188C165.517 5.94031 158.907 36.3933 155.72 66.8486C152.549 97.3082 153.314 129.969 168.985 155.737C196.881 201.581 257.346 207.077 306.047 226.451C379.729 255.783 435.596 328.52 446.994 409.954" stroke="currentColor" stroke-miterlimit="10" />
      <path d="M135.241 -110.238C162.23 -98.3675 176.735 -66.7131 179.443 -36.254C182.151 -5.79492 175.541 24.6581 172.354 55.1134C169.183 85.573 169.948 118.234 185.619 144.002C213.515 189.846 273.98 195.342 322.681 214.716C396.363 244.048 452.23 316.785 463.627 398.219" stroke="currentColor" stroke-miterlimit="10" />
      <path d="M151.879 -121.989C178.867 -110.118 193.373 -78.4638 196.081 -48.0047C198.789 -17.5457 192.179 12.9074 188.992 43.3627C185.821 73.8223 186.586 106.483 202.256 132.251C230.153 178.095 290.618 183.591 339.318 202.965C413.001 232.297 468.867 305.034 480.265 386.468" stroke="currentColor" stroke-miterlimit="10" />
    </svg>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 mb-4">
        <div class="section-title text-center">
          <p class="text-primary text-uppercase fw-bold mb-3">Volunteer Work</p>
          <h1>Donate Now To Help Reduce Opioid Overdoses and Increase Medical Access</h1>
        </div>
      </div>
      <div class="col-lg-10">
        <ul class="home-need-tab nav nav-pills justify-content-center mb-4" id="need-tab" role="tablist">
          <li class="nav-item m-2" role="presentation"> <a
              class="nav-link btn btn-outline-primary effect-none text-dark active" id="pills-how-do-i-donate-tab"
              data-bs-toggle="pill" href="#pills-how-do-i-donate" role="tab" aria-controls="pills-how-do-i-donate"
              aria-selected="true">How Do I Donate?</a>
          </li>
          <li class="nav-item m-2" role="presentation"> <a
              class="nav-link btn btn-outline-primary effect-none text-dark " id="pills-what-is-the-need-tab"
              data-bs-toggle="pill" href="#pills-what-is-the-need" role="tab"
              aria-controls="pills-what-is-the-need" aria-selected="true">What Is The Need?</a>
          </li>
          <li class="nav-item m-2" role="presentation"> <a
              class="nav-link btn btn-outline-primary effect-none text-dark " id="pills-what-do-i-do-tab"
              data-bs-toggle="pill" href="#pills-what-do-i-do" role="tab"
              aria-controls="pills-what-do-i-do" aria-selected="true">What Do You Do?</a>
          </li>
        </ul>
        <div class="rounded shadow bg-white p-5 tab-content" id="need-tabContent">
          <div class="tab-pane fade show active" id="pills-how-do-i-donate" role="tabpanel"
            aria-labelledby="pills-how-do-i-donate-tab">
            <div class="row align-items-center">
              <div class="col-md-6 order-1 order-md-0">
                <div class="content-block">
                  <h3 class="mb-4">How Do I Donate?</h3>
                  <div class="content">
                    <p>
                      The primary needs on the street vary dramatically. I use
                      donations primarily to cover fentanyl test strips and naloxone
                      distribution.
                    </p>
                    <p>
                      You can donate in multiple ways: either by directly donating
                      funds or by purchasing items from my amazon wish list that I
                      can directly donate.
                    </p>
                    <p>
                      To see the different ways to donate, visit the
                      <a href="/donate">donation page</a>, or you can donate
                      via PayPal right here:
                    </p>
                    {{ partial "paypalDonateButton.html" }}
                  </div>
                </div>
              </div>
              <div class="col-md-6 order-0 order-md-1 mb-5 mt-md-0">
                <div class="image-block text-center">
                  <img loading="lazy" decoding="async" src="/images/illustration-1.png" alt="How Do I Repay?" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-what-is-the-need" role="tabpanel" aria-labelledby="pills-what-is-the-need-tab">
            <div class="row align-items-center">
              <h3 class="mb-4">What Is The Need?</h3>
              <p class="lead">
                The problem of homelessness in the bay area and throughout
                the country is highly complex and multi-factorial and the
                resulting struggles of those without housing are also complex
                and difficult to solve.
              </p>
              <div class="col-md-4 order-0 order-md-0 mb-5 mt-md-0">
                <div class="image-block text-center">
                  <img loading="lazy" decoding="async" src="/images/b&w-homeless-man.png" alt="Homeless man, black and white" class="img-fluid">
                </div>
              </div>
              <div class="col-md-8 order-1 order-md-1">
                <div class="content-block">
                  <div class="content">
                    <p>
                      The background of the recent surge in homelessness can be
                      simplified into three prongs: 1. the surge in the cost of
                      living/economic insecurity of the recessions; 2. the failure
                      of mental health systems following the de-institutionalization
                      of mental health in the 70s; 3. the devastating effects of the
                      opioid epidemic and the flooding of the US with cheap highly
                      addictive fentanyl and even cheaper impure methamphetamine
                      that creates a psychotic mental health syndrome similar to
                      schizophrenia/bipolar disorder.
                    </p>
                    <p>
                      The result is that a lot of people self-medicate in response
                      to anything from prior trauma to pain to depression to powerlessness
                      in the face of economic struggle. This self-medication can
                      result in dramatic worsening of mental and physical health,
                      decreased ability to survive economic hardships, and then a
                      rapid spiral into homelessness.
                    </p>
                    <p>
                      The pandemic made this worse everywhere, and there has been
                      at least a 10% increase in homelessness nationwide and in
                      several counties in the bay area the number of homeless
                      people has close to doubled.
                    </p>
                    <p>
                      There are groups throughout the area helping, but the coverage
                      of existing street medicine resources outside of Santa Clara
                      is sparse and people are often required to travel to find
                      care&mdash;a tall order for one struggle with their mental
                      health and often chronic wounds. So many just stay where they
                      are until their medical problems become so severe that they
                      end up being taken by ambulance to a safety-net hospital where
                      our tax-payer money is used to temporize their out-of-control
                      medical issues.
                    </p>
                    <p>
                      While this is better than nothing, it is an expensive band-aid
                      over the problem that does little to help in the long-run.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-what-do-i-do" role="tabpanel"
            aria-labelledby="pills-what-do-i-do-tab">
            <div class="row align-items-center">
              <div class="col-md-6 order-1 order-md-0">
                <div class="content-block">
                  <h3 class="mb-4">What Do You Do?</h3>
                  <div class="content">
                    <p class="lead">
                      My goal in my volunteering is to help reduce harm from drug
                      use, improve awareness of available resources, help folks
                      get to medical and support resources, and provide some
                      in-place medical care of wounds and other issues.
                    </p>
                    <p>
                      Right now, my availablity to volunteer waxes and wanes depending
                      on how much time I have to spend studying. When I have available
                      time, I go to homeless communities and check up the most vulnerable
                      members.
                    </p>
                    <p>
                      I provide them with any donations I have available (your help
                      is greatly appreciated), particularly clothing, and I provide
                      fentanyl test strips (which allows them to test their drugs
                      for fentanyl contamination&mdash;a very common and very lethal
                      contaminant), naloxone (a drug that reverses opioid overdoses), and
                      education to those who need/want it.
                    </p>
                    <p>
                      Importantly, I also talk with community members about the
                      resources available to them and help guide them towards how
                      to access those resources. For those with chronic wounds or
                      medical problems amenable to EMT-level care, I provide that
                      care on the street for free.
                    </p>
                    <p>
                      While this has not yet come up, I am also able to use my
                      knowledge to identify those who need immediate transport to the
                      hospital and arrange that via the emergency medical system.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 order-0 order-md-1 mb-5 mt-md-0">
                <div class="image-block text-center">
                  <img loading="lazy" decoding="async" src="/images/homeless-flag-san-jose.jpg" alt="Homeless encampment under the 87 in San Jose, CA" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="homepage_tab position-relative">
  <div class="section container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-5 pb-2">
          <h1 id="Frequently-Asked-Questions" class="text-primary fw-bold mb-3">Frequently Asked Questions</h1>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="accordion shadow rounded py-5 px-0 px-lg-4 bg-white position-relative" id="accordionFAQ">
          <div class="accordion-item p-1 mb-2">
            <h2 class="accordion-header accordion-button h5 border-0 active" id="heading-ebd23e34fd2ed58299b32c03c521feb0b02f19d9" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ebd23e34fd2ed58299b32c03c521feb0b02f19d9" aria-expanded="true" aria-controls="collapse-ebd23e34fd2ed58299b32c03c521feb0b02f19d9">
              How many people per class?
            </h2>
            <div id="collapse-ebd23e34fd2ed58299b32c03c521feb0b02f19d9" class="accordion-collapse collapse border-0 show" aria-labelledby="heading-ebd23e34fd2ed58299b32c03c521feb0b02f19d9" data-bs-parent="#accordionFAQ">
              <div class="accordion-body py-0 content">
                For CPR I teach 2-6 students at a time, for first aid
                and wilderness medicine I can handle up to 15 at a time.
              </div>
            </div>
          </div>
          <div class="accordion-item p-1 mb-2">
            <h2 class="accordion-header accordion-button h5 border-0" id="heading-a443e01b4db47b3f4a1267e10594576d52730ec1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-a443e01b4db47b3f4a1267e10594576d52730ec1" aria-expanded="false" aria-controls="collapse-a443e01b4db47b3f4a1267e10594576d52730ec1">
              Are your classes online?
            </h2>
            <div id="collapse-a443e01b4db47b3f4a1267e10594576d52730ec1" class="accordion-collapse collapse border-0" aria-labelledby="heading-a443e01b4db47b3f4a1267e10594576d52730ec1" data-bs-parent="#accordionFAQ">
              <div class="accordion-body py-0 content">
                <p>
                  Most of my courses combine online and in-person learning.
                  I have an online student portal where I host videos, learning content, and quizes. I have found
                  that people are better prepared to learn in-person when they have done some pre-studying. It also
                  makes in-person instruction more fun for everyone as there is less lecturing.
                </p>
                <p>
                  However, medical skills
                  generally require in-person practice, so the majority of instruction for most of my courses is in-person.
                </p>
                <p>
                  I am willing to customize this to your needs as needed, please <a href="/contact">let me know</a>
                  if you have any special requirements.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item p-1 mb-2">
            <h2 class="accordion-header accordion-button h5 border-0" id="heading-4b82be4be873c8ad699fa97049523ac86b67a8bd" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4b82be4be873c8ad699fa97049523ac86b67theother" aria-expanded="false" aria-controls="collapse-4b82be4be873c8ad699fa97049523ac86b67theother">
              What happens if I don't do the online portion?
            </h2>
            <div id="collapse-4b82be4be873c8ad699fa97049523ac86b67theother" class="accordion-collapse collapse border-0" aria-labelledby="heading-4b82be4be873c8ad699fa97049523ac86b67theother" data-bs-parent="#accordionFAQ">
              <div class="accordion-body py-0 content">
                Unfortunately, this breaks the flow of the class, so online
                content is mandatory and I will be unable to teach in-person if it has not been completed on time.
              </div>
            </div>
          </div>
          <div class="accordion-item p-1 mb-2">
            <h2 class="accordion-header accordion-button h5 border-0" id="heading-4b82be4be873c8ad699fa97049523ac86b67a8bd" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4b82be4be873c8ad699fa97049523ac86b67a8bd" aria-expanded="false" aria-controls="collapse-4b82be4be873c8ad699fa97049523ac86b67a8bd">
              Do I need to bring anything?
            </h2>
            <div id="collapse-4b82be4be873c8ad699fa97049523ac86b67a8bd" class="accordion-collapse collapse border-0" aria-labelledby="heading-4b82be4be873c8ad699fa97049523ac86b67a8bd" data-bs-parent="#accordionFAQ">
              <div class="accordion-body py-0 content">
                For wilderness classes you need water and comfortable clothes
                you don't mind getting dirty. Otherwise just come rested and ready to learn!
              </div>
            </div>
          </div>
          <div class="accordion-item p-1 mb-2">
            <h2 class="accordion-header accordion-button h5 border-0" id="heading-3e13e9676a9cd6a6f8bfbe6e1e9fc0881ef247b3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3e13e9676a9cd6a6f8bfbe6e1e9fc0881ef247b3" aria-expanded="false" aria-controls="collapse-3e13e9676a9cd6a6f8bfbe6e1e9fc0881ef247b3">
              Do you teach nurses/doctors/insert-your-profession-here?
            </h2>
            <div id="collapse-3e13e9676a9cd6a6f8bfbe6e1e9fc0881ef247b3" class="accordion-collapse collapse border-0" aria-labelledby="heading-3e13e9676a9cd6a6f8bfbe6e1e9fc0881ef247b3" data-bs-parent="#accordionFAQ">
              <div class="accordion-body py-0 content">
                Yes! I teach everyone and am happy to customize my instruction to your level.
                My knowledge of wilderness medicine is quite comprehensive and I can teach to any level.
              </div>
            </div>
          </div>
          <div class="accordion-item p-1 mb-2">
            <h2 class="accordion-header accordion-button h5 border-0" id="heading-0c2f829793a1f0562fea97120357dd2d43319164" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-0c2f829793a1f0562fea97120357dd2d43319164" aria-expanded="false" aria-controls="collapse-0c2f829793a1f0562fea97120357dd2d43319164">
              How much does it cost?
            </h2>
            <div id="collapse-0c2f829793a1f0562fea97120357dd2d43319164" class="accordion-collapse collapse border-0" aria-labelledby="heading-0c2f829793a1f0562fea97120357dd2d43319164" data-bs-parent="#accordionFAQ">
              <div class="accordion-body py-0 content">
                Please see each section for details on cost. Custom classes
                may vary slightly from the default depending on your requirements.
              </div>
            </div>
          </div>
          <div class="accordion-item p-1 mb-2">
            <h2 class="accordion-header accordion-button h5 border-0 " id="heading-8fe6730e26db16f15763887c30a614caa075f518" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8fe6730e26db16f15763887c30a614caa075f518" aria-expanded="false" aria-controls="collapse-8fe6730e26db16f15763887c30a614caa075f518">
              Does my fee go towards your volunteer work?
            </h2>
            <div id="collapse-8fe6730e26db16f15763887c30a614caa075f518" class="accordion-collapse collapse border-0" aria-labelledby="heading-8fe6730e26db16f15763887c30a614caa075f518" data-bs-parent="#accordionFAQ">
              <div class="accordion-body py-0 content">
                It may. I run this business as a non-profit, although it
                is not officially one. If I have excess funds available after covering teaching expenses I will put
                them towards buying clothes, first aid supplies, and fentanyl test strips for donation.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="has-shapes">
      <svg class="shape shape-left text-light" width="290" height="709" viewBox="0 0 290 709" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M-119.511 58.4275C-120.188 96.3185 -92.0001 129.539 -59.0325 148.232C-26.0649 166.926 11.7821 174.604 47.8274 186.346C83.8726 198.088 120.364 215.601 141.281 247.209C178.484 303.449 153.165 377.627 149.657 444.969C144.34 546.859 197.336 649.801 283.36 704.673" stroke="currentColor" stroke-miterlimit="10" />
        <path d="M-141.434 72.0899C-142.111 109.981 -113.923 143.201 -80.9554 161.895C-47.9878 180.588 -10.1407 188.267 25.9045 200.009C61.9497 211.751 98.4408 229.263 119.358 260.872C156.561 317.111 131.242 391.29 127.734 458.631C122.417 560.522 175.414 663.463 261.437 718.335" stroke="currentColor" stroke-miterlimit="10" />
        <path d="M-163.379 85.7578C-164.056 123.649 -135.868 156.869 -102.901 175.563C-69.9331 194.256 -32.086 201.934 3.9592 213.677C40.0044 225.419 76.4955 242.931 97.4127 274.54C134.616 330.779 109.296 404.957 105.789 472.299C100.472 574.19 153.468 677.131 239.492 732.003" stroke="currentColor" stroke-miterlimit="10" />
        <path d="M-185.305 99.4208C-185.982 137.312 -157.794 170.532 -124.826 189.226C-91.8589 207.919 -54.0118 215.597 -17.9666 227.34C18.0787 239.082 54.5697 256.594 75.4869 288.203C112.69 344.442 87.3706 418.62 83.8633 485.962C78.5463 587.852 131.542 690.794 217.566 745.666" stroke="currentColor" stroke-miterlimit="10" />
      </svg>
      <svg class="shape shape-right text-light" width="474" height="511" viewBox="0 0 474 511" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M601.776 325.899C579.043 348.894 552.727 371.275 520.74 375.956C478.826 382.079 438.015 355.5 412.619 321.6C387.211 287.707 373.264 246.852 354.93 208.66C336.584 170.473 311.566 132.682 273.247 114.593C220.12 89.5159 155.704 108.4 99.7772 90.3769C53.1531 75.3464 16.3392 33.2759 7.65012 -14.947" stroke="currentColor" stroke-miterlimit="10" />
        <path d="M585.78 298.192C564.28 319.945 539.378 341.122 509.124 345.548C469.472 351.341 430.868 326.199 406.845 294.131C382.805 262.059 369.62 223.419 352.278 187.293C334.936 151.168 311.254 115.417 275.009 98.311C224.74 74.582 163.815 92.4554 110.913 75.3971C66.8087 61.1784 31.979 21.3767 23.7639 -24.2362" stroke="currentColor" stroke-miterlimit="10" />
        <path d="M569.783 270.486C549.5 290.99 526.04 310.962 497.501 315.13C460.111 320.592 423.715 296.887 401.059 266.641C378.392 236.402 365.963 199.965 349.596 165.901C333.24 131.832 310.911 98.1265 276.74 82.0034C229.347 59.6271 171.895 76.4848 122.013 60.4086C80.419 47.0077 47.5905 9.47947 39.8431 -33.5342" stroke="currentColor" stroke-miterlimit="10" />
        <path d="M553.787 242.779C534.737 262.041 512.691 280.809 485.884 284.722C450.757 289.853 416.568 267.586 395.286 239.173C373.993 210.766 362.308 176.538 346.945 144.535C331.581 112.533 310.605 80.8723 278.502 65.7217C233.984 44.6979 180.006 60.54 133.149 45.4289C94.0746 32.8398 63.2303 -2.41965 55.9568 -42.8233" stroke="currentColor" stroke-miterlimit="10" />
        <path d="M537.791 215.073C519.964 233.098 499.336 250.645 474.269 254.315C441.41 259.126 409.422 238.286 389.513 211.704C369.594 185.13 358.665 153.106 344.294 123.17C329.923 93.2337 310.293 63.6078 280.258 49.4296C238.605 29.7646 188.105 44.5741 144.268 30.4451C107.714 18.6677 78.8538 -14.3229 72.0543 -52.1165" stroke="currentColor" stroke-miterlimit="10" />
      </svg>
    </div>
  </div>
</section>
{{ end }}
